/* Reset the margins for <html> and <body> tags */
html, body {
	height:100%;
	margin:0;
}

.popup dt { font-weight: bold; float: left; width: 5em; clear:both; }
.popup dd { margin: 0 0 0.4em 0; float: left; }
.popup p.clear { clear: both; }

/* Styles */

h1 {
	
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 35;
	color: #000000;
	font-weight: bold;
	text-align: left;
	line-height: 0.8;
	padding: 0px 0px 0px 0px;
	margin: 10px 0px 15px 0px;

}

h2 {
	
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 15;
	color: #666666;
	font-weight: bold;
	text-align: left;
	line-height: 1.1;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 5px 0px;

}

h3 {
	
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 13;
	color: #000000;
	font-weight: normal;
	text-align: left;
	line-height: 1.1;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 15px 0px;

}

h4 {
	
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 11;
	color: #000000;
	font-weight: normal;
	text-align: left;
	line-height: 0.8;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 15px 0px;

}

h5 {
	
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 14;
	color: #000000;
	font-weight: normal;
	text-align: left;
	line-height: 1.3;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;

}

h6 {
	
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 13;
	color: #000000;
	font-weight: bold;
	text-align: left;
	line-height: 1;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 15px 0px;

}

a:link {
    text-decoration: underline;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #CA6801;
}

a:visited {
    text-decoration: underline;
    color: #000000;
}

/* Map overlays */
.top-nav {
	position: absolute;
	width: 100%;
	top: 1em;
	lleft: 50%;
	mmargin-right: -50%;
	ttransform: translate(-50%, -50%);
	border: 0px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Open Sans', sans-serif;
	font-size: 16;
	font-color: 000000;
	z-index: 3;
	height: auto;
	background: white;
	opacity: .80;
	color: black;
}
.top-nav .container {
	margin:8px;
}

.right-bot {
    position: absolute;
    right: 10px;
    width: 300px;
    border: 0px;
    padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12;
  	z-index: 2;
	height: auto;
  	background: black;
  	opacity: .75;
  	color: white;
 	top: 90%;
  	transform: translateY(-50%);
}

.left-mid {
    position: absolute;
    left: 20px;
    width: 220px;
    border: 0px;
    padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12;
  	z-index: 2;
  	height: auto;
  	background: white;
  	opacity: .75;
  	color: black;
 	top: 50%;
  	transform: translateY(-50%);
}

.over {
    position: absolute;
    left: 50%;
    width: 300px;
    border: 0px;
    padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12;
  	z-index: 10000;
  	height: auto;
  	background: white;
  	opacity: .9;
  	color: black;
 	top: 50%;
  	transform: translateY(-50%);
}

.form {
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 12;
}